.message {
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
.ptb--90 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.logo--normal img {
  height: 48px;
}
.textwidget img {
  height: 48px;
}
.header-inner {
  padding: 10px 0;
}
.div-verify {
  background-color: #f6f6f6;
  height: 200px;
}
.div-verify p {
  color: #8c8c8c;
  line-height: 200px;
  text-align: center;
}
.div-verify p a {
  color: #8c8c8c;
}
